<nav> 
  <div id="logotype">
    <%= link_to root_path do %>
      <%= image_tag 'logotype.png', alt: t('.company_logotype') %>
    <% end %>
  </div>
  <br>
  <div class="menu">
    <%= link_to t('.female_fashion'), root_path %>
    <%= link_to t('.male_fashion'), root_path %>
    <%= link_to t('.about_us'), root_path %>
    <%= link_to t('.contact'), root_path %>
  </div>
  <hr>
</nav>
