<div class="col-md-10">
  <div class="card">
    <div class="card-header">
      <h5 class="title"><%= t('.title') %></h5>
    </div>
    <%= form_with scope: 'customer', url: admin_panel_clientes_create_path do |f| %>
      <div class="card-body">
        <small><%= t('.required_field') %></small>
        <div class="row">
          <div class="col-md-5 pr-md-1">
            <div class="form-group">
              <label><%= t('.name') %></label>
              <%= f.text_field 'name', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-md-5 px-md-1">
            <div class="form-group">
              <label><%= t('.document') %></label>
              <%= f.text_field 'document',
                               class: 'form-control',
                               required: true,
                               placeholder: t('.placeholders.document') %>
            </div>
          </div>
          <div class="col-md-2 pl-md-1">
            <div class="form-group">
              <label><%= t('.kind') %></label>
              <%= f.text_field 'kind', class: 'form-control', value: t('.default_kind'), required: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-5 pr-md-1">
            <div class="form-group">
              <label><%= t('.contact') %></label>
              <%= f.text_field 'contact', class: 'form-control', required: true %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>
                <%= t('.telephone') %>
              </label>
              <%= f.text_field 'telephone',
                               class: 'form-control',
                               required: true,
                               placeholder: t('.placeholders.telephone') %>
            </div>
          </div>
          <div class="col-md-6 px-md-1">
            <div class="form-group">
              <label><%= t('.cellphone') %></label>
              <%= f.text_field 'cellphone',
                               class: 'form-control',
                               required: true,
                               placeholder: t('.placeholders.cellphone')%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label><%= t('.site') %></label>
              <%= f.text_field 'site', class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-6 px-md-1">
            <div class="form-group">
              <label><%= t('.email') %></label>
              <%= f.text_field 'email', class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label><%= t('.address') %></label>
              <%= f.text_field 'address', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-md-2 px-md-1">
            <div class="form-group">
              <label><%= t('.number') %></label>
              <%= f.text_field 'number', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label><%= t('.complement') %></label>
              <%= f.text_field 'complement', class: 'form-control' %>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 pr-md-1">
            <div class="form-group">
              <label><%= t('.district') %></label>
              <%= f.text_field 'district', class: 'form-control' %>
            </div>
          </div>
          <div class="col-md-3 px-md-1">
            <div class="form-group">
              <label><%= t('.city') %></label>
              <%= f.text_field 'city', class: 'form-control', required: true %>
            </div>
          </div>
          <div class="col-md-3 px-md-1">
            <div class="form-group">
              <label><%= t('.state') %></label>
              <%= f.text_field 'state', class: 'form-control', value: t('.default_state'), required: true %>
            </div>
          </div>
          <div class="col-md-3 pl-md-1">
            <div class="form-group">
              <label><%= t('.postal_code') %></label>
              <%= f.text_field 'postal_code',
                               class: 'form-control',
                               required: true,
                               placeholder: t('.placeholders.postal_code')%>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <%= f.submit t('.save_data_btn'), class: 'btn btn-fill btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
